.action-plan {
  background-color: $dark-title;
}

@media (min-width: $tablet-width) {
  .action-plan {
    position: relative;
    z-index: 6;
    width: 688px;
    margin: 0 auto;
    margin-top: 178px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .action-plan {
    margin-top: 0;
    width: 100%;
    background-color: transparent;
  }
}
