.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #d4d9eb 1px solid;
  border-bottom: #d4d9eb 1px solid;
  margin-bottom: 25px;
}

.calendar__title {
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;
}

.calendar__button {
  width: 30px;
  height: 43px;
}

.calendar__table {
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  td {
    height: 30px;
    border: #d4d9eb 1px solid;
  }
}

.calendar__weekday {
  color: #444444;
}

.calendar__weekday--weekend {
  color: #ff5c23;
}

.calendar__day {
  background-color: #edeff6;
  color: #444444;
  &--disabled {
    color: rgba(68, 68, 68, 0.3);
  }
  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
  &--disabled {
    background-color: #ffffff;
  }

  &--focus {
    border: #ff5c23 2px solid;
  }

  &--first {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .calendar__title {
    font-size: 36px;
  }
  .calendar__button {
    height: 85px;
    width: 85px;
  }

  .calendar__table {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    width: 100%;
    td {
      height: 70px;
    }
    tr {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1.8px;
    }
  }  
}

@media (min-width: $desktop-width) {
  .calendar__table {
    text-align: left;
    td {
      font-weight: normal;
      position: relative;
      padding: 15px;
      vertical-align: top;
      height: 72px;
    }
  }
  
  .calendar__day--first {
    display: inline;
  }

  .calendar__day--check-inn {
    &::after {
      position: absolute;
      content: 'Заезд';
      display: block;
      top: 36px;
    }
  }
  
  .calendar__day--check-out {
    &::after {
      position: absolute;
      content: 'Выезд';
      display: block;
      top: 36px;
    }
  }
}
