.catalog-result__more-button {
  position: relative;
  display: block;
  width: fit-content;
  color: #1d2e5b;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 33px;
  margin: 0 auto;
  margin-bottom: 27px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 4px;
    border: #1d2e5b 1px solid;
  }
}

.catalog-result__companion-card-list {
  margin-bottom: 26px;
}

.catalog-result__nav {
  display: flex;
  align-items: center;
}

.catalog-result__btn {
  padding: 0;
  width: 50%;
  min-height: 50px;
  background-color: #ffffff;
  border: none;

  &--back {
    border-radius: 20px 0 0 20px;
    border-right: #edeff6 1px solid;
  }

  &--forward {
    border-radius: 0 20px 20px 0;
  }
}

.catalog-result__pages-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-result__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 100px;
  }

  .catalog-result__pages-list {
    @include list-style-off;
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-result__page {
    text-decoration: none;
    display: block;
    text-align: center;
    color: $dark-title;
    padding: 10px 20px;
    border-radius: 100px;
  }

  .catalog-result__page--active {
    background-color: #ffd74b;
  }

  .catalog-result__more-button {
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;

    &::before {
      top: 0;
      width: 27px;
      height: 27px;
    }
  }

  .catalog-result__btn {
    width: 50px;
    background-color: #edeff6;
  }
}

@media (min-width: $desktop-width) {
  .catalog-result {
    width: 72%;
  }

  .catalog-result__companion-card-list {
    margin-top: 0;
  }
}
