.catalog-result {
  width: $mobile-wrapper;
  margin: 0 auto;
}

.catalog-result__more-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d2e5b;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-result__plus {
  margin-right: 15px;
}

.catalog-result__companion-card-list {
  margin-bottom: 28px;
}

.catalog-result__nav {
  display: flex;
  align-items: center;
}

.catalog-result__btn {
  padding: 0;
  width: 50%;
  min-height: 50px;
  background-color: #ffffff;
  border: none;

  &--back {
    border-radius: 20px 0 0 20px;
    border-right: $main-background 1px solid;
  }

  &--forward {
    border-radius: 0 20px 20px 0;
  }
}

.catalog-result__btn--icon {
  height: 17px;
  width: 12px;
}

.catalog-result__pages-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-result {
    margin-top: 38px;
    width: $tablet-wrapper;
  }

  .catalog-result__companion-card-list {
    margin-bottom: 46px;
    margin-top: 40px;
  }

  .catalog-result__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 100px;
  }

  .catalog-result__pages-list {
    @include list-style-off;
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-result__page {
    text-decoration: none;
    display: block;
    text-align: center;
    color: $dark-title;
    padding: 10px 20px;
    border-radius: 100px;

    &--active {
      background-color: $yellow-background;
    }

    &:hover {
      color: rgba(22, 28, 53, 0.6);
    }

    &:active {
      background-color: #ffd74b;
    }
  }

  .catalog-result__more-button {
    margin-right: 10px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-result__plus {
    width: 27px;
    height: 27px;
    margin-right: 25px;
    margin-bottom: 2px;
  }

  .catalog-result__btn {
    padding-left: 35px;
    width: 50px;
    background-color: inherit;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog-result__btn--back {
    border: none;
  }

  .catalog-result__btn--icon {
    height: 20px;
    width: 15px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-result {
    margin-top: 0;
    margin-left: 60px;
    width: 66%;
  }

  .catalog-result__companion-card-list {
    margin-bottom: 63px;
    margin-top: 0;
  }

  .catalog-result__more-button {
    margin-bottom: 69px;
    margin-right: 75px;
  }

  .catalog-result__btn {
    padding-left: 20px;
  }
}
