.catalog-companion-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px 0 23px 0;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    & .catalog-companion-card__image {
      transform: scale(1.05);
      z-index: 0;
    }
  }
}

.catalog-companion-card__progress-block {
  position: absolute;
  top: 2px;
  right: 6px;
  width: 60px;
  height: 60px;
}

.catalog-companion-card__progress {
  position: absolute;
  top: 8px;
  left: -1px;
  width: 51px;
  height: 51px;
}

.catalog-companion-card__level-value {
  border: none;
  display: block;
  margin-top: 13px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 21px;
}

.catalog-companion-card__level-block {
  position: absolute;
  width: 60px;
  height: 59px;
}

.catalog-companion-card__level-title {
  display: none;
  color: #d9d9d9;
  padding-top: 2px;
  font-size: 14px;
  line-height: 14px;
}

.catalog-companion-card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px 0 18px;
  border-bottom: $main-background 1px solid;
}

.catalog-companion-card__title {
  position: relative;
  margin-top: 0;
  text-align: left;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #1d2e5b;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #f97676;
    top: 8px;
    left: 139px;
    border-radius: 10px;
  }

  &--on-line {
    &::before {
      background-color: #81e31e;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-companion-card__tags {
  color: $soft-text;
  line-height: 18px;
  font-size: 15px;
  width: 185px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 21px;
  text-align: left;
}

.catalog-companion-card__like {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 55px;
  left: 67px;
  width: 31px;
  height: 31px;
  background-color: $main-background;
  border-radius: 100px;
  border: none;
  fill: rgb(25, 33, 68);

  svg {
    opacity: 0.3;
  }

  &--active {
    background-color: #f9eaea;

    svg {
      fill: #f02323;
    }

    &:hover {
      background-color: #f9d8d8;
    }

    &:active {
      background-color: #f9d8d8;

      svg {
        opacity: 0.3;
      }
    }
  }

  &:hover {
    background-color: #e2e5f2;

    svg {
      opacity: 0.5;
    }
  }

  &:active {
    background-color: #e2e5f2;

    svg {
      opacity: 0.1;
    }
  }
}

.catalog-companion-card__title--small {
  width: fit-content;
  background-color: #ffffff;
  color: $soft-text;
  font-size: 15px;
  font-weight: normal;
  margin-top: -9px;
  margin-bottom: 16px;
}

.catalog-companion-card__country-title {
  display: flex;
  align-items: end;
  text-decoration: none;
  text-transform: uppercase;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.catalog-companion-card__flag {
  margin-right: 14px;
}

.catalog-companion-card__country {
  padding-top: 4px;
}

.catalog-companion-card__wishes {
  @include list-style-off;
}

.catalog-companion-card__wishes-block {
  padding: 0 20px 12px 25px;
  border-bottom: $main-background 1px solid;
}

.catalog-companion-card__transport {
  @include list-style-off;
}

.catalog-companion-card__left {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-companion-card__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.catalog-companion-card__transport-level {
  position: relative;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.catalog-companion-card__button {
  width: 85%;
  margin: 0 20px;
  padding: 11px 0;
  color: #161c35;
  font-size: 17px;
  font-weight: bold;
}

.catalog-companion-card__image-wrapper {
  overflow: hidden;
  border-radius: 100%;
}

.catalog-companion-card__image {
  position: relative;
  z-index: 0;
  margin-right: 16px;
  border-radius: 100%;
}

.catalog-companion-card__tittle-wrapper {
  width: 80px;
}

@media (min-width: $tablet-width) {
  .catalog-companion-card {
    margin-bottom: 40px;
    position: relative;
    padding: 35px 25px 10px 35px;
  }

  .catalog-companion-card__header {
    padding: 0;
    border: none;
  }

  .catalog-companion-card__tittle-wrapper {
    width: fit-content;
  }

  .catalog-companion-card__head-wrapper {
    display: flex;
    flex-direction: column;
  }

  .catalog-companion-card__title {
    font-size: 30px;
    line-height: 30px;

    &::before {
      width: 7px;
      height: 7px;
      top: 9px;
      left: initial;
      right: -30px;
    }
  }

  .catalog-companion-card__title--small {
    margin-left: 47px;
  }

  .catalog-companion-card__like {
    width: 50px;
    height: 50px;
    top: 175px;
    left: 403px;

    &--heart-active {
      width: 20px;
      height: 17px;
    }

    &--heart {
      width: 20px;
      height: 17px;
    }
  }

  .catalog-companion-card__follower {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #161c35;
    position: absolute;
    top: 186px;
    right: 186px;
  }

  .catalog-companion-card__tags {
    font-size: 20px;
    line-height: 24px;
    width: 233px;
    margin-top: 46px;
    right: 205px;
    position: absolute;
  }

  .catalog-companion-card__wishes-block {
    order: 3;
    padding: 0;
    border: none;
    border-top: $main-background 1px solid;
    margin-top: 80px;
  }

  .catalog-companion-card__wishes {
    display: flex;
    flex-direction: row;
  }

  .catalog-companion-card__flag {
    width: 35px;
    height: 24px;
  }

  .catalog-companion-card__country-title {
    margin-right: 25px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 35px;
      height: 24px;
      top: 0;
    }
  }

  .catalog-companion-card__image-wrapper {
    height: 290px;
    border-radius: 20px;
  }

  .catalog-companion-card__image {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-right: 33px;
  }

  .catalog-companion-card__transport-level {
    margin-top: -297px;
    align-items: flex-end;
    flex-direction: column;
  }

  .catalog-companion-card__transport {
    flex-direction: column;
  }

  .catalog-companion-card__left,
  .catalog-companion-card__right {
    .catalog-companion-card__title--small {
      display: none;
    }
  }

  .catalog-companion-card__progress-block {
    top: 133px;
  }

  .catalog-companion-card__progress {
    top: 0;
    left: -4px;
    width: 80px;
    height: 70px;
  }

  .catalog-companion-card__level-title {
    display: block;
    border-top: #cbced9 2px solid;
    margin-left: 12px;
    padding: 0 2px;
  }

  .catalog-companion-card__level-value {
    margin-top: 18px;
    margin-right: -3px;
  }

  .catalog-companion-card__right {
    margin: 0;
  }

  .catalog-companion-card__left {
    padding-right: 11px;
  }

  .catalog-companion-card__button {
    position: absolute;
    width: 148px;
    height: 50px;
    top: 176px;
    left: 236px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-companion-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    min-height: 285px;
    padding: 0;
    display: flex;

    &::before {
      content: "";
      position: absolute;
      height: 61%;
      width: 1px;
      left: 65%;
      top: 50px;
      background-color: #edeff6;
    }

    &::after {
      content: "";
      position: absolute;
      height: 60%;
      width: 8px;
      right: 35%;
      top: 47px;
      background-color: initial;
      z-index: 1;
      box-shadow: inset 0 -19px 18px -14px #ffffff, 0 19px 25px -23px #ffffff inset;
    }
  }

  .transport-list__icon--catalog {
    width: 34px;
  }

  .catalog-companion-card__tittle-wrapper {
    width: 36%;
    padding: 47px 0 0 27px;
  }

  .catalog-companion-card__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;

    &::before {
      right: 334px;
    }
  }

  .catalog-companion-card__tags {
    margin-top: 92px;
    top: 2px;
    right: 380px;
  }

  .catalog-companion-card__image {
    border-radius: 20px 0 0 20px;
    width: 285px;
    height: 285px;
  }

  .catalog-companion-card__like {
    top: 188px;
    left: 489px;
  }

  .catalog-companion-card__follower {
    left: 549px;
    top: 200px;
  }

  .catalog-companion-card__left {
    margin-bottom: 10px;
  }

  .catalog-companion-card__wishes-block {
    border: none;
    margin: 0;
    margin-top: -245px;
    padding-left: 42px;
    width: 33.6%;
    order: 0;
    align-self: flex-end;

    h4 {
      display: none;
    }
  }

  .catalog-companion-card__wishes {
    flex-direction: column;
  }

  .catalog-companion-card__country-title {
    margin-bottom: 1px;
  }

  .catalog-companion-card__flag {
    margin-right: 18px;
  }

  .catalog-companion-card__level-value {
    color: #161c35;
  }

  .catalog-companion-card__transport-level {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    margin-top: auto;
    margin-bottom: 45px;
    margin-right: 104px;
  }

  .catalog-companion-card__transport {
    padding-right: 33px;
    flex-direction: row;
  }

  .catalog-companion-card__button {
    left: 321px;
    top: 189px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-companion-card__progress-block {
    text-align: center;
    top: -19px;
    right: -53px;
  }
}
