.companions {
  @include block-radius;
  position: relative;
  z-index: 3;
  background: url("../img/smolov-back-desktop@1x.png") no-repeat 152px 59px, url("../img/rogovaya-back-mobile@1x.png") no-repeat left 331px #161c35;
  color: #ffffff;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/smolov-back-desktop@2x.png") no-repeat 152px 59px/143px 143px, url("../img/rogovaya-back-mobile@2x.png") no-repeat left 331px/61px 71px #161c35;
  }
}

.companions__list {
  @include list-style-off;
}

.companions__item {
  &:hover {
    box-shadow: 0px 6px 21px 0 rgba(0, 0, 0, 0.08);

    & .companion-card__avatar{
      transform: scale(1.05);
      z-index: -1;
    }
  }
}

.companions__wrapper {
  padding-bottom: 30px;
  width: 270px;
  margin: 0 auto;
}

.companions-description {
  line-height: 21px;
  margin-bottom: 26px;
}

.companions-slogan {
  line-height: 20px;
}

.companions__wrapper-header {
  padding: 73px 20px 42px 25px;
}

.companions__button {
  margin-top: 20px;
  font-size: 18px;
  color: $dark-title;
  text-decoration: none;
  background-color: $yellow-background;
}

@media (min-width: $tablet-width) {
  .companions {
    background: url("../img/rogovaya-back-desktop@1x.png") no-repeat 408px 130px, url("../img/smolov-back-desktop@1x.png") no-repeat 40px 476px #192144;
    min-height: 1251px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/rogovaya-back-desktop@1x.png") no-repeat 408px 130px/285px 285px, url("../img/smolov-back-desktop@1x.png") no-repeat 40px 476px/143px 143px #192144;
    }
  }

  .companions__wrapper {
    width: $tablet-wrapper;
    margin: 0 auto;
    padding-bottom: 89px;


    &::before {
      content: "";
      position: absolute;
      width: 213px;
      height: 213px;
      background-color: #141b3b;
      border-radius: 20px;
      top: 130px;
      left: 40px;
    }
  }

  .companions__wrapper-header {
    position: relative;
    z-index: 1;
    padding: 155px 20px 42px 33px;
  }

  .companions-description {
    margin-top: 55px;
    margin-bottom: 40px;
    width: 70%;
    font-size: 28px;
    line-height: 33px;
  }

  .companions-slogan {
    display: block;
    width: 258px;
    font-size: 21px;
    line-height: 25px;
  }

  .companions__list-wrapper {
    padding: 0 35px;
  }

  .companions__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .companions__item {
    width: 285px;
  }

  .companions__button {
    font-size: 24px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    min-height: 750px;
  }

  .companions__wrapper {
    width: $desktop-wrapper;
    display: flex;
    justify-content: space-between;
    min-height: 750px;
    padding-bottom: 136px;

    &::before {
      top: 118px;
      left: 61px;
    }
  }

  .companions__list {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }

  .companions__wrapper-header {
    padding-left: 70px;
    padding-top: 142px;
    width: 500px;
  }

  .companions__list-wrapper {
    padding-top: 167px;
    padding-right: 0px;
  }

  .companions-description {
    font-size: 28px;
    line-height: 33px;
    text-align: left;
    width: 443px;
  }

  .companions-slogan {
    font-size: 21px;
    line-height: 25px;
    width: 258px;
  }

  .companions__button {
    width: 280px;
    margin-left: -619px;
    margin-top: -160px;
  }
}
