.companions-filter {
  min-height: 624px;
  padding: 28px 25px 20px 25px;
  background-color: #ffd74b;
  border-radius: 25px;
}

.companions-filter__title {
  font-size: 22.5px;
  font-weight: bold;
  text-align: left;
  width: 125px;
}

.companions-filter__title--small {
  font-size: 18px;
}

.companions-filter__hidden-menu {
  border-top: #f3c72b 1px solid;
}

.companions-filter__title--small {
  font-size: 16px;
}

.companions-filter__list {
  @include list-style-off;
  font-size: 15px;
  font-weight: normal;
  color: #444444;
}

.companions-filter__button {
  color: #161c35;
  padding: 15px 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  background-color: #ffffff;
  width: 100%;
}
 
.companions-filter__interval {
  display: flex;
}

@media (min-width: $tablet-width) {

  .companions-filter {
    min-height: 555px;
    padding: 40px 30px 40px 30px;
  }

  .companions-filter__title {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    text-align: left;
  }

  .companions-filter__title--small {
    font-size: 20px;
    line-height: 30px;
    width: 125px;
  }

  .companions-filter__hidden-menu {
    display: flex;
    align-items: baseline;
  }

  .companions-filter__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    li {
      width: 33%;
    }
    
    label {
      line-height: 20px;
      font-size: 20px;
    }
  }

  .companions-filter__hidden-menu {
    border: none;
  }

  .companions-filter__interval {
    margin-bottom: 75px;
  }

  .catalog-result__more-button {
    font-size: 20px;
    line-height: 30px;
  }

}

@media (min-width: $desktop-width) { 
  
  .companions-filter {
    order: 1;
    align-self: flex-start;
    width: 21%;
    padding: 48px;
  }
  
  .companions-filter__title {
    width: 55%;
  }

  .companions-filter__list {
    flex-direction: column; 
  }

  .companions-filter__hidden-menu {
    flex-direction: column;
  }
}