.companion-card {
  position: relative;
}

.companion-card__progress-block {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
}

.companion-card__progress {
  position: absolute;
  top: -7px;
  left: -6px;
  width: 72px;
  height: 72px;
}

.companion-card__level-block {
  width: 60px;
  height: 59px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}

.companion-card__level-value {
  border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
  display: block;
  width: 31px;
  font-size: 24px;
  line-height: 21px;
  color: #ffffff;
}

.companion-card__level-title {
  padding-top: 2px;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.companion-card-title {
  position: relative;
  margin: 0;
  text-align: center;

  a {
    text-decoration: none;
    color: #1d2e5b;
    font-size: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #f97676;
    top: calc(50% - 4px);
    left: -19px;
    border-radius: 10px;
  }

  &--on-line {
    &::before {
      background-color: #81e31e;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion-card__wrapper {
  margin-top: -5px;
  margin-bottom: 10px;
  padding: 26px 40px 16px 40px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companion-card__flags {
  @include list-style-off;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -38px;
}

.companion-card__flag-icon {
  position: relative;
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    &::after {
      z-index: 3;
      content: attr(data-hover);
      position: absolute;
      padding: 10px;
      color: #ffffff;
      right: -35%;
      top: 120%;
      background-color: #101d41;
      border-radius: 4px;
    }

    &::before {
      content: " ";
      z-index: 2;
      position: absolute;
      top: 90%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #101d41 transparent;
    }
  }
}

.companion-card__tags {
  margin-top: 14px;
  margin-bottom: 11px;
  text-align: center;
  color: $soft-text;
}

.companion-card__avatar-wrapper {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.companion-card__avatar {
  position: relative;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}

.companion-card__transport {
  width: 134px;
}

@media (min-width: $tablet-width) {
  .companion-card-list__item {
    display: flex;
    flex-direction: column;
  }

  .companion-card-title {
    &::before {
      width: 7px;
      height: 7px;
      left: -22px;
    }

    a {
      font-size: 24px;
    }
  }

  .companion-card__wrapper {
    border-radius: 0 0 20px 20px;
    padding-top: 29px;
    padding-bottom: 18px;
  }

  .companion-card__flags {
    margin-bottom: 13px;
    margin-top: -41px;
  }

  .companion-card__avatar-wrapper {
    border-radius: 20px 20px 0 0;
  }

  .companion-card__avatar {
    border-radius: 20px 20px 0 0;
    width: 285px;
    height: 287px;
  }

  .companion-card__progress-block {
    top: 24px;
    left: 22px;
  }

  .companion-card__tags {
    width: 232px;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    width: 285px;
    min-height: 482px;
  }
}
