.companion-card-title a {
  text-decoration: none;
  color: #1d2e5b;
  font-size: 20px;
}

.companion-card__wrapper {
  background-color: #ffffff;
}

.companion-card__tags {
  color: #444444;
}

.companions__button {
  font-size: 18px;
  color: $dark-title;
  text-decoration: none;
  background-color: #ffd74b;
}
