.level-block {
  display: flex;
  flex-direction: column;
  width: 94px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  border: 3px #ff8d30 solid;
}

.level-block__value {
  width: 50px;
  text-align-last: center;
  color: $dark-title;
  font-size: 38px;
  line-height: 38px;
  font-weight: bold;
  border-bottom: #cbced9 2px solid;
}

.level-block__title {
  padding-top: 7px;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .level-block {
    width: 94px;
    height: 94px;
  }  
}

@media (min-width: $desktop-width) {
  .level-block__value {
    color: #ffffff;
  }

  .level-block__title {
    color: #edeff6;
  }
}