.level-block {
  display: flex;
  flex-direction: column;
  width: 94px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}

.level-block__value {
  margin-top: 9px;
  width: 50px;
  text-align-last: center;
  color: $dark-title;
  font-size: 38px;
  line-height: 28px;
  font-weight: bold;
  border-bottom: #cbced9 2px solid;
}

.level-block__title {
  padding-top: 7px;
  font-size: 18px;
  line-height: 22px;
  color: $soft-text;
}

@media (min-width: $tablet-width) {
  .level-block {
    width: 94px;
    height: 94px;
  }
}

@media (min-width: $desktop-width) {
  .level-block__value {
    color: #ffffff;
  }

  .level-block__title {
    color: $main-background;
  }
}

body {
  background-color: #424c52;
}

.progress {
  transform: rotate(-90deg);
}

.progress-circle {
  fill: transparent;
  stroke: #ff8d30;
  stroke-width: 3;
  stroke-dasharray: 255;
  transition: stroke-dashoffset ease-out 0.4s;
}
