.main-nav__wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin-bottom: 42px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    text-align: left;
    margin-bottom: 142px;
  }

  .main-nav__wrapper {
    width: $tablet-wrapper;
    padding: 99px 0 84px 55px;

    &--hidden {
      padding: 0;
      width: fit-content;
    }
  }

  .main-nav__social {
    align-self: start;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
  }

  .main-nav__list {
    margin: 0;
    min-height: 50px;
  }
}
