.main-slogan {
  padding: 51px 40px 0 40px;
  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat bottom center, url("../img/globe-back-mobile@1x.jpg") no-repeat;
  min-height: 430px;
  text-align: center;
}

.main-slogan__text {
  font-size: 36px;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .main-slogan {
    background: transparent;
    padding: 80px 144px 0 144px;
  }

  .main-slogan__text {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .main-slogan {
    width: 50%;
    padding: 80px 200px 0 60px;
  }

  .main-slogan__text {
    width: 400px;
    font-size: 60px;
    line-height: 1.17;
    text-align: left;
  }
}
