.main-nav__wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  text-align: center;
  width: 100%;
  flex-direction: column;
  min-height: 225px;
  justify-content: center;
}

@media (min-width: $tablet-width) {
   
   .main-nav__list {
     text-align: left;
   }

   .main-nav__wrapper {
     width: $tablet-wrapper;
     padding: 99px 0 84px 55px;
   }

   .main-nav__social {
     align-self: start;
   }

}

@media (min-width: $desktop-width) {
  
  .main-nav__wrapper {
    width: 1320px;
    flex-direction: row;
    padding: 0;
  }
  .main-nav__list {
    flex-direction: row;
    width: 837px;
    justify-content: space-around;
    min-height: 50px;
  }
}
