.my-plans {
  min-height: 456px;
  background-color: #dfe3f0;
  border-radius: 30px 30px 0 0;
  padding: 10px 0 21px 0;
  margin-top: 34px;
}

.my-plans__list {
  @include list-style-off;
}

.my-plans__title {
  margin-bottom: 28px;
  color: #1d2e5b;
}

.my-plans__item {
  background-color: #ffffff;
  min-height: 154px;
  border-radius: 10px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
}

.my-plans__item-header {
  display: flex;
  align-items: baseline;
}

.my-plans__item-title {
  margin-left: 4px;
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: initial;
  color: #1d2e5b;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.my-plans__subtitle {
  margin: 5px 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
}

.my-plans__subtitle--companions {
  margin-bottom: 0;
  margin-top: -9px;
}

.my-plans__button {
  display: block;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.3);

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .my-plans {
    padding: 43px 0 21px;
    margin-top: -29px;
  }

  .my-plans__list {
    padding: 16px 0 33px 0;
  }

  .my-plans__title {
    margin-top: 8px;
    font-size: 35px;
  }

  .my-plans__item {
    position: relative;
    min-height: 94px;
    padding: 44px 32px 10px 37px;
    border-radius: 10px;

    span {
      font-size: 20px;
      line-height: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 97px;
      left: 0;
      background-color: #1d2e5b;
      opacity: 0.3;
    }
  }

  .my-plans__item-title {
    font-size: 24px;
    margin: 0;
    order: -1;
  }

  .my-plans__item-header {
    margin-bottom: 57px;
    justify-content: space-between;
  }

  .my-plans__item-body {
    padding-right: 12px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .my-plans__subtitle {
    font-size: 19px;
    line-height: 18px;
    letter-spacing: 2.6px;
    margin: 0 44px 0 0;
  }

  .my-plans__button {
    margin-left: 39px;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .my-plans {
    padding-top: 43px;
    margin-top: -29px;
    border-radius: 60px 60px 0 0;
  }

  .my-plans__title {
    margin-left: 71px;
  }

  .my-plans__list {
    font-size: 20px;
    line-height: 18px;
    margin-left: 65px;
  }

  .my-plans__item {
    padding-top: 24px;
    padding-left: 41px;
    padding-bottom: 24px;
    margin-bottom: 14px;
    min-height: 38px;
    flex-direction: row;
    align-items: baseline;

    &::before {
      display: none;
    }
  }

  .my-plans__item-title {
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 35px;
    order: 0;
  }

  .my-plans__item-header {
    width: 49%;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .my-plans__item-body {
    justify-content: flex-start;
    width: 50%;
  }

  .my-plans__subtitle {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-right: 34px;
  }

  .my-plans__button {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-left: auto;
  }
}
