.page-header {
  min-width: 320px;
  min-height: 570px;
  background-color: #ffffff;
  padding: 20px 0px 40px 0px;
}

.page-header__toggle {
  display: block;
  margin-left: auto;
  border: 0;
  background-color: inherit;
}

.logo-wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
}


@media (min-width: $tablet-width) {
  
  .page-header {
    min-height: 910px;
    padding: 45px 0px 80px 0px;
  }

  .page-header__wrapper {
    display: flex;
    width: $tablet-wrapper;
    margin: 0 auto;
    flex-direction: column; 
  }

  .page-header__logo-wrapper {
    width: 355px;
    display: flex;
  }

  .main-nav {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  
  .page-header{
    background-color: $dark-title;
    min-height: 100px;
    padding: 60px 0 0 0;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    width: 1320px;
    margin: 0 auto;
  }
}
