.page-footer {
  margin-top: -32px;
  position: relative;
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}

.page-footer__slogan {
  font-size: 24px;
  color: #192144;
  font-weight: bold;
}

.page-footer__wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0 15px 0;
}

.page-footer__logo {
  width: 100px;
  margin-bottom: 32px;
}

.page-footer__social {
  margin-bottom: 37px;
}

.page-footer__social-link {
  background-color: $yellow-background;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.page-footer__copyright {
  align-items: center;
  width: 100%;
  padding-top: 4px;
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-wrapper;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 45px 0;
  }

  .page-footer__logo {
    width: 165px;
    height: 45px;
  }

  .page-footer__copyright {
    border: none;
    padding: 0;
    width: 160px;
  }

  .page-footer__social {
    margin-bottom: 33px;
  }

  .page-footer {
    border-radius: 60px 60px 0 0;
    min-height: 150px;
    margin-top: -54px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-wrapper;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 45px 0;
  }

  .page-footer__logo {
    width: 200px;
    height: 52px;
  }

  .page-footer__social {
    margin-right: 40px;
  }
}
