.plan-list {
  @include list-style-off;
  display: block;
  color: #161c35;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  width: 270px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.plan-list__new-line {
  display: none;
}

.plan-list__item {
  margin-top: -20px;
  min-height: 100px;
  background-color: $yellow-background;
  padding: 23px 23px 17px 25px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;

  &:first-child {
    margin-top: 0;
    background-color: $bright-title;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
  }

  &:last-child {
    min-height: 80px;
    border-radius: 10px 10px 10px 10px;
    background-color: $yellow-background;
  }
}

.plan-list__description {
  width: 140px;
}

.plan-list__number {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .plan-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
  }

  .plan-list__item {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 31px 96px 28px 31px;
    width: 50%;
    min-height: 140px;
    border-radius: 0 0 0 0;

    &:nth-child(even) {
      margin-left: -15px;
    }

    &:nth-child(odd) {
      width: 52%;
    }

    &:first-child {
      border-radius: 20px 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-last-child(-n+2) {
      border-radius: 0 0 0 20px;
    }

    &:last-child {
      border-radius: 0 0 20px 20px;
    }
  }

  .plan-list__new-line {
    display: block;
  }

  .plan-list__number {
    font-size: 30px;
    line-height: 20px;
  }

  .plan-list__description {
    width: fit-content;
  }
}

@media (min-width: $desktop-width) {
  .plan-list {
    justify-content: flex-start;
    width: $desktop-wrapper;
  }

  .plan-list__item {
    margin-top: 0;
    flex-direction: row;
    padding: 30px;
    padding-right: 50px;
    width: 27.6%;
    min-height: 107px;

    &:nth-child(odd) {
      width: 25.4%;
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(2) {
      margin-left: -20px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(3) {
      width: 27.5%;
      margin-left: -20px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(4) {
      min-height: 100px;
      width: 24%;
      padding-right: 30px;
      margin-left: -20px;
      border-radius: 20px;
    }
  }

  .plan-list__number {
    font-size: 24px;
  }
}
