.progress {
  transform: rotate(-90deg);
}

.progress__circle {
  fill: transparent;
  stroke: #ff8d30;
  stroke-width: 3;
  stroke-dasharray: 255;
  transition: stroke-dashoffset ease-out 0.4s;
}

.progress__level-try {
  background-color: aqua;
}
