.registration {
  font-weight: lighter;
  background: #192144;
}

.registration__description {
  font-weight: lighter;
  color: #ffffff;
}

.registration__link {
  color: #ffd74b;
}

.registration__button {
  background: #ffd74b;
}