.registration__wrapper {
  width: 270px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.registration {
  font-weight: lighter;
  background: #192144;
}

.registration__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.registration__description {
  font-weight: lighter;
  color: #ffffff;
  margin-bottom: 30px;
}

.registration__form {
  display: flex;
  justify-content: center;
}

.registration__text {
  flex-grow: 2;
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-left: 25px;
  border-radius: 20px 0 0 20px;
  width: 190px;
  height: 70px;
}

.registration__button {
  background: #ffd74b;
  margin-left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  border: none;
}

.registration__button-titile {
  display: none;
}

.registration__link {
  color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .registration__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .registration {
    min-height: 360px;
    padding-top: 72px;
  }

  .registration__title {
    display: block;
    text-align: center;
  }

  .registration__description {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
  }

  .registration__form {
    display: flex;
    justify-content: center;
  }

  .registration__text {
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding-left: 35px;
    border-radius: 20px 0 0 20px;
    height: 81px;
  }

  .registration__button {
    width: 81px;
    height: 81px;
    border-radius: 0 20px 20px 0;
    border: none;
  }
}


@media (min-width: $desktop-width) {
  .registration {
    min-height: 450px;
    padding: 108px 70px 40px 70px;
  }

  .registration__wrapper {
    width: $desktop-wrapper;
    margin: 0 auto;
    text-align: center;
  }

  .registration__description {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 61px;
  }

  .registration__form {
    display: flex;
    justify-content: center;
  }

  .registration__text {
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    width: 850px;
    height: 81px;
    padding-left: 35px;
    border-radius: 20px 0 0 20px;
  }

  .registration__button {
    width: 324px;
    border-radius: 0 20px 20px 0;
    border: none;
    text-align: left;
  }

  .registration__button-titile {
    display: inline;
  }

  .registration__title {
    display: block;
    margin-bottom: 60px;
  }
}
