.registration__wrapper {
  width: 270px;
  margin: 0 auto;
  padding-top: 92px;
  text-align: center;
}

.registration {
  font-weight: lighter;
  background: #192144;
}

.registration__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.registration__description {
  width: 74%;
  margin: 0 auto;
  line-height: 22px;
  font-weight: lighter;
  color: #ffffff;
  margin-bottom: 28px;
}

.registration__form {
  display: flex;
  justify-content: center;
}

.registration__text {
  color: rgba(68, 68, 68, 0.3);
  flex-grow: 2;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-left: 25px;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 60%;
  height: 62px;

  &:hover {
    color: rgba(68, 68, 68, 0.5);
    background-color: #edeff6;
  }

  &:focus {
    color: #ffffff;
    border: #ffffff 4px solid;
    background-color: initial;
  }

  &--error {
    background-color: #ffefef;
    color: #ff0000;
  }
}

.registration__button {
  padding-left: 27px;
  background: $yellow-background;
  margin-left: -20px;
  width: 60px;
  height: 62px;
  border-radius: 10px;
  border: none;
}

.registration__button-titile {
  display: none;
}

.registration__link {
  color: $yellow-background;

  &:hover {
    color: #ff8d30;
  }

  &:active {
    color: rgba(255, 141, 48, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .registration__wrapper {
    padding-top: 54px;
    width: 620px;
    margin: 0 auto;
  }

  .registration {
    min-height: 360px;
    padding-top: 72px;
  }

  .registration__title {
    display: block;
    text-align: center;
  }

  .registration__description {
    width: 100%;
    margin-top: 57px;
    margin-bottom: 63px;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
  }

  .registration__form {
    display: flex;
    justify-content: center;
  }

  .registration__text {
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding-left: 35px;
    border-radius: 20px 0 0 20px;
    height: 81px;
  }

  .registration__button {
    width: 81px;
    height: 81px;
    border-radius: 0 20px 20px 0;
    border: none;
  }
}


@media (min-width: $desktop-width) {
  .registration {
    min-height: 450px;
    padding: 104px 71px 40px 61px;
  }

  .registration__wrapper {
    width: $desktop-wrapper;
    margin: 0 auto;
    text-align: center;
  }

  .registration__description {
    width: 100%;
    font-size: 28px;
    line-height: 33px;
    margin-top: -3px;
    margin-bottom: 55px;
  }

  .registration__form {
    width: 89%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .registration__text {
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    width: 850px;
    height: 81px;
    padding-left: 35px;
    border-radius: 20px 0 0 20px;
  }

  .registration__button {
    width: 324px;
    border-radius: 0 20px 20px 0;
    border: none;
    text-align: left;
  }

  .registration__button-titile {
    display: inline;
  }

  .registration__title {
    display: block;
    margin-bottom: 60px;
  }
}
