.reviews {
  margin-bottom: 1px;
  margin-top: -3px;
  background-color: #161c35;
}

.reviews__item {
  width: 320px;
  margin: 0 auto;
  padding: 35px 116px 33px 50px;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.reviews__text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.reviews__author {
  font-weight: bold;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: -100px;
    background: transparent;
  }

  .reviews__item {
    width: 100%;
    padding: 0px 380px 33px 32px;
  }

  .reviews__text {
    margin-bottom: 43px;
    font-size: 28px;
    line-height: 33px;
  }

  .reviews__author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 50%;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }

  .reviews__item {
    margin: 0;
    width: 44%;
    padding: 73px 0 33px 0;
  }
}
