.reviews {
  margin-top: -16px;
  background-color: #161c35;
}

.reviews__item {
  padding: 50px 116px 33px 50px;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}

.reviews__text {
  font-size: 16px;
  font-weight: 300;
}

.reviews__author {
  font-weight: bold;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: -100px;
    background: transparent;
  }

  .reviews__item {
    padding: 50px 395px 33px 32px;
  }

  .reviews__text {
    font-size: 28px;
    line-height: 33px;
  }

  .reviews__author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 50%;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }

  .reviews__item {
    width: 257px;
    padding: 50px 0 33px 0;
  }
}
