.user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include list-style-off;
  text-align: center;
}

.user-list a {
  display: block;
  text-decoration: none;
}

.user-list__link {
  color: #192144;
  font-weight: bold;
}

.user-list__authentication {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-title;
  order: -1;
  margin-bottom: 50px;
}

.user-list__mail,
.user-list__phone {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-left: 61px; 
}

.user-list__phone {
  margin-bottom: 32px;
}

@media (min-width: $desktop-width) {
  .user-list__link {
    order: 0;
    padding: 17px 31px 14px 29px;
  }

  .user-list__authentication {
    order: 0;
    margin: 0;
  }
  
  .user-list__phone {
  margin-bottom: 0;
  }
}
