.user-list {
  margin-bottom: 26px;

  @include list-style-off;
  display: flex;
  flex-direction: column;
  text-align: center;

  &--hidden {
    flex-direction: row;
    position: absolute;
    width: 270px;
    top: 442px;
  }

  &--page--hidden {
    display: none;
  }
}

.user-list a {
  display: block;
  text-decoration: none;
}

.user-list__btn {
  padding: 12px 0;
  margin-bottom: 50px;

  &--hidden {
    height: 40px;
    width: 190px;
    margin: 0;
  }

  &:hover {
    background-color: #ffbd30;
  }
}

.user-list__link {
  color: #192144;
  font-weight: bold;
  padding: 16px 0 14px 0;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    background-color: #121936;
    top: 0;
    left: 0;
    border-radius: 100px;
  }

  &--hidden {
    padding-left: 40px;
    margin-left: -50px;
    height: 40px;
    font-size: 28px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.user-list__link--mail {
  height: 40px;
  text-transform: uppercase;

  &::before {
    background: url("../img/contacts-mail.svg") center no-repeat #121936;
    background-size: 20px 15px;
  }

  &:hover {
    &::before {
      background: url("../img/contacts-mail-hover.svg") center no-repeat #121936;
      background-size: 20px 15px;
    }
  }

  &--hidden {
    &::before {
      font-size: 28px;
      width: 40px;
      height: 40px;
      background: url("../img/topmenu-mail.svg") center no-repeat;
      background-color: #ffbd30;
      background-size: 18px 14px;
    }

    &:hover {
      &::before {
        background: url("../img/topmenu-mail.svg") center no-repeat;
        background-color: #ff8d30;
        background-size: 18px 14px;
      }
    }

    &:active {
      &::before {
        background: url("../img/topmenu-mail-active.svg") center no-repeat;
        background-color: #ff8d30;
        background-size: 18px 14px;
      }
    }
  }
}

.user-list__link--phone {
  &::before {
    background: url("../img/contacts-phone.svg") center no-repeat #121936;
    background-size: 20px 20px;
  }

  &:hover {
    &::before {
      background: url("../img/contacts-phone-hover.svg") center no-repeat #121936;
      background-size: 20px 20px;
    }
  }

  &--hidden {
    &::before {
      background: url("../img/topmenu-phone.svg") center no-repeat;
      background-color: $bright-title;
      background-size: 18px 18px;
    }

    &:hover {
      &::before {
        background: url("../img/topmenu-phone.svg") center no-repeat;
        background-size: 18px 18px;
        background-color: #f26926;
      }
    }

    &:active {
      &::before {
        background: url("../img/topmenu-phone-active.svg") center no-repeat;
        background-color: #f26926;
        background-size: 18px 18px;
      }
    }
  }
}


.user-list__authentication {
  font-size: 17px;
  text-transform: uppercase;
  color: $dark-title;
  order: -1;

  &--hidden {
    flex-grow: 1;
    margin: 0;
    order: 0;
  }
}

.user-list__mail,
.user-list__phone {
  position: relative;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding-left: 61px;

  &--hidden {
    padding-left: 41px;
  }
}

.user-list__link-description1--hidden {
  display: none;
}

.user-list__link-description2--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-list__authentication {
    align-self: flex-end;
    margin-bottom: 385px;
    margin-top: -10px;

    &--hidden {
      margin: 0;
    }
  }

  .user-list {
    margin-bottom: 140px;
    margin-top: -468px;

    &--hidden {
      position: static;
      margin: 0;
      margin-left: auto;
      margin-top: -51px;
    }

    &--page--hidden {
      display: flex;
    }
  }

  .user-list__btn {
    width: 190px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    height: 50px;
    padding: 12px 0 0 0;

    &--hidden {
      margin-left: auto;
    }
  }

  .user-list__mail {
    margin-top: -8px;
  }

  .user-list__mail,
  .user-list__phone {
    padding: 0;

    &--hidden {
      display: none;
    }
  }

  .user-list__link {
    font-size: 28px;
    padding: 24px 0 20px 92px;

    &::before {
      width: 70px;
      height: 70px;
    }
  }

  .user-list__link--mail {
    margin-left: 0;
    text-transform: uppercase;

    &::before {
      background-size: 27px 20px;
    }

    &:hover {
      &::before {
        background-size: 27px 20px;
      }
    }
  }

  .user-list__link--phone {
    &::before {
      background-size: 30px 30px;
    }

    &:hover {
      &::before {
        background-size: 30px 30px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    margin-top: 3px;

    &--catalog {
      display: block;
    }

    &--hidden {
      width: fit-content;
    }
  }

  .user-list__authentication {
    order: 0;
    margin: 0;
  }

  .user-list__link-description1 {
    display: none;
  }

  .user-list__link-description2 {
    display: none;
  }

  .user-list__mail,
  .user-list__phone {
    padding-left: 0;

    &--hidden {
      display: block;
    }
  }

  .user-list__link {
    width: 50px;
    height: 50px;
    order: 0;
    font-size: 28px;
    padding: 20px 0 20px 0;

    &::before {
      width: 50px;
      height: 50px;
    }

    &--hidden {
      margin-left: 0;
    }
  }

  .user-list__phone {
    margin-bottom: 0;
  }

  .user-list__btn {
    margin: 0;
  }

  .user-list__link--mail {
    text-transform: uppercase;

    &::before {
      background: url("../img/topmenu-mail.svg") center no-repeat;
      background-color: #ffbd30;
      background-size: 18px 14px;
    }

    &:hover {
      &::before {
        background: url("../img/topmenu-mail.svg") center no-repeat;
        background-color: #ff8d30;
        background-size: 18px 14px;
      }
    }

    &:active {
      &::before {
        background: url("../img/topmenu-mail-active.svg") center no-repeat;
        background-color: #ff8d30;
        background-size: 18px 14px;
      }
    }
  }

  .user-list__link--phone {
    &::before {
      background: url("../img/topmenu-phone.svg") center no-repeat;
      background-color: $bright-title;
      background-size: 18px 18px;
    }

    &:hover {
      &::before {
        background: url("../img/topmenu-phone.svg") center no-repeat;
        background-size: 18px 18px;
        background-color: #f26926;
      }
    }

    &:active {
      &::before {
        background: url("../img/topmenu-phone-active.svg") center no-repeat;
        background-color: #f26926;
        background-size: 18px 18px;
      }
    }
  }
}
