$dark-title: #161c35;
$mobile-wrapper: 270px;
$mobile-content-wrapper: 225px;
$tablet-width: 768px;
$tablet-content-wrapper: 618px;
$tablet-wrapper: 688px;
$desktop-width: 1440px;
$desktop-wrapper: 1320px;
 