//media
$mobile-wrapper: 270px;
$tablet-width: 768px;
$desktop-width: 1440px;
//wrappers
$mobile-content-wrapper: 225px;
$tablet-content-wrapper: 618px;
$tablet-wrapper: 688px;
$desktop-wrapper: 1320px;
//colors
$dark-title: #161c35;
$bright-title: #ff8d30;
$yellow-background: #ffd74b;
$main-background: #edeff6;
$soft-text: #444444;
